{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
	
	<div class="container">
	<fieldset>
		<form action="/" method="post">
			<input name="zipcity" type="text" class="ghost-input" placeholder="Enter a City or Zip Code" required>
			<input type="submit" class="ghost-button" value="Get Temperature">
		</form>
		
		<p>
		{% if city is not null %}
				City: {{city}}
		{% endif %}
		<br />
		{% if conditions is not null %}
				Conditions: {{conditions}}
		{% endif %}
		<br />
		{% if temp is not null %}
				Current temperature: {{temp}}F
		{% endif %}
		<br />
		{% if temp_min is not null %}
				Minimum temperature: {{temp_min}}F
		{% endif %}
		<br />
		{% if temp is not null %}
				Maximum temperature: {{temp_max}}F
		{% endif %}
		<br />
		{% if humidity is not null %}
				Humidity: {{humidity}}
		{% endif %}
		<br />
		{% if sunrise is not null %}
				Sunrise: {{sunrise}}
		{% endif %}
		<br />
		{% if sunset is not null %}
				Sunset: {{sunset}}
		{% endif %}
		</p>

	</fieldset>
</div>
		
{% endblock %}
